<!DOCTYPE html>
<html>
    <header>
        <title>Title</title>
    </header>
    <body>

        <h1>My First Heading</h1>

        <p>My first paragraph.</p>
<!--
        <table>
            <thead>
                <th>Name</th>
                <th>Experience</th>
                <th>Rank</th>
            </thead>
            {% for instance in data %}
                <tr>
                    <td>{{instance.fields.name}}</td>
                    <td>{{instance.fields.experience}}</td>
                    <td>{{instance.fields.rank}}</td>
                </tr>
            {% endfor %}
        </table>
-->
    </body>
</html>