<!DOCTYPE html>
<html>
    <header>
        <title>Employees by unit id</title>
    </header>
    <body>
        <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" name="submit" value="Submit"/>
        </form>
        <table>
            <thead>
                <th>Name</th>
                <th>Experience</th>
                <th>Rank</th>
            </thead>
            {% for instance in data %}
                <tr>
                    <td>{{instance.name}}</td>
                    <td>{{instance.experience}}</td>
                    <td>{{instance.rank}}</td>
                </tr>
            {% endfor %}
        </table>

    </body>
</html>